.reviewsContainer {
    background: rgba(55, 55, 55, 0.2); 
    backdrop-filter: blur(50px); 
    -webkit-backdrop-filter: blur(50px); 
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 1.5rem;
    font-weight: bold;
  }